.nav-bar {
	background-color: rgb(59, 58, 58);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logos {
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 8px 24px;
}
.name {
	color: rgb(182, 182, 182);
	font-size: 1.5rem;
}

ul {
	list-style: none;
	display: flex;
	gap: 48px;
	justify-content: space-around;
	padding: 0 48px;
}

li {
	color: rgb(182, 182, 182);
	font-size: 1.2rem;
}
.nav-bar a:link {
	color: rgb(182, 182, 182);
}
/* visited link */
.nav-bar a:visited {
	color: rgb(182, 182, 182);
}

/* mouse over link */
.nav-bar a:hover {
	color: hotpink;
}
